<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171247658754-pohes25ch95cm17mi8fhvvpegse2nkd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171247658754-pohes25ch95cm17mi8fhvvpegse2nkd5</string>
	<key>API_KEY</key>
	<string>AIzaSyDiwUgzTYgQ9HBInWtcxKSBKsunc7PlE3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>171247658754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Allen-Gu.test-glade</string>
	<key>PROJECT_ID</key>
	<string>test-glade2-2545f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-glade2-2545f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171247658754:ios:50ccf055f423dd2a43041b</string>
	<key>DATABASE_URL</key>
	<string>https://test-glade2-2545f.firebaseio.com</string>
</dict>
</plist>